//Brand colours
$feefo-yellow: #FFd100;
$deeper-blue: #0B06F9;
$pale-blue: #4f4cfa;
$faded-blue: #9d9bfc;
$pink: #fdd0f6;

//Neutral colours
$ash-blue: #f0f3f7;
$smoke-blue: #e2eaf4;
$platinum: #f7f9fa;
$silver: #BCC0C3;
$carbon: #6f7782;
$grey: #4A5057;
$off-black: #292f36;
$white: #ffffff;
$black: #000000;


//Functional colours
$warning-text: #7a4300;
$warning-bg: #ffF6EB;
$success-bg: #EBFFF8;
$error-bg: #FFEDE9;
$focus: #5e9ed6;
$warning: #ff8B00;
$success: #227358;
$error: #bf2600;

$font-base: #000000;
$font-secondary: #9d9bfc;
$font-tertiary: #292f36;




