// Spacing Variables
$spacing-0: 0;
$spacing-6: $spacing-100 / 16;
$spacing-12: $spacing-100 / 8;
$spacing-25: $spacing-100 / 4;
$spacing-50: $spacing-100 / 2;
$spacing-100: 1rem;
$spacing-200: $spacing-100 * 2;
$spacing-300: $spacing-100 * 3;
$spacing-400: $spacing-100 * 4;